/* ROOT VARIABLES */

:root {
  --primary-background: #2e2e2e;
  --secondary-background: #353535;
  --third-background: #3a3a3a;
  --fourth-background: #424242;
  --primary-theme: #f0a854;
  --secondary-theme: #ffebdc;
  --menu-highlight: #42372a;
  --stroke-centre: #ff9212;
  --stroke-outer: #ff000045;
  --gradient-stroke: linear-gradient(
    -55deg,
    transparent 25%,
    var(--stroke-outer) 35%,
    var(--stroke-centre),
    var(--stroke-outer) 65%,
    transparent 70%
  );
  --container-shadow: 0px 0px 20px 2px rgb(0 0 0 /25%);
  --container-radius: 12px;
  --body-text-color: #ebebeb;
  --h1-color: var(--primary-theme);
  --h2-color: var(--secondary-theme);
  --logo-primary: var(--primary-theme);
}

/* FONT INITIALIZATION */

@font-face {
  font-family: Geo-edit;
  src: url(/fonts/Geo-edit/geographeditwebblack.ttf);
  font-style: normal;
  font-weight: 900;
}
@font-face {
  font-family: Geo-edit;
  src: url(/fonts/Geo-edit/geographeditwebblackitalic.ttf);
  font-style: italic;
  font-weight: 900;
}
@font-face {
  font-family: Geo-edit;
  src: url(/fonts/Geo-edit/geographeditwebbold.ttf);
  font-style: normal;
  font-weight: 700;
}
@font-face {
  font-family: Geo-edit;
  src: url(/fonts/Geo-edit/geographeditwebbolditalic.ttf);
  font-style: italic;
  font-weight: 700;
}
@font-face {
  font-family: Geo-edit;
  src: url(/fonts/Geo-edit/geographeditwebmedium.ttf);
  font-style: normal;
  font-weight: 500;
}
@font-face {
  font-family: Geo-edit;
  src: url(/fonts/Geo-edit/geographeditwebmediumitalic.ttf);
  font-style: italic;
  font-weight: 500;
}
@font-face {
  font-family: Geo-edit;
  src: url(/fonts/Geo-edit/geographeditwebregular.ttf);
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: Geo-edit;
  src: url(/fonts/Geo-edit/geographeditwebregularitalic.ttf);
  font-style: italic;
  font-weight: 400;
}
@font-face {
  font-family: Geo-edit;
  src: url(/fonts/Geo-edit/geographeditweblight.ttf);
  font-style: normal;
  font-weight: 300;
}
@font-face {
  font-family: Geo-edit;
  src: url(/fonts/Geo-edit/geographeditweblightitalic.ttf);
  font-style: italic;
  font-weight: 300;
}
@font-face {
  font-family: Geo-edit;
  src: url(/fonts/Geo-edit/geographeditwebthin.ttf);
  font-style: normal;
  font-weight: 100;
}
@font-face {
  font-family: Geo-edit;
  src: url(/fonts/Geo-edit/geographeditwebthinitalic.ttf);
  font-style: italic;
  font-weight: 100;
}

/* GLOBAL STYLES */

* {
  margin: 0;
  box-sizing: border-box;
  cursor: url("/cursors/orange.png"), auto;
  user-select: none;
}

body {
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  display: grid;
  background-color: var(--primary-background);
}

section {
  padding: 2rem 4rem;
}

h1,
h2,
h3,
h4,
p,
button {
  font-family: "Geo-edit";
  font-style: normal;
}

h1,
h2 {
  font-weight: 900;
  color: var(--h1-color);
  font-size: 3rem;
}

h2 {
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: var(--h1-color);
}

h3 {
  font-weight: 700;
  color: var(--h2-color);
  font-size: 1.3rem;
}

h4,
p {
  color: var(--body-text-color);
}

p,
button {
  font-weight: 300;
}

/* MEDIA QUERIES */

@media screen and (width > 1350px) {
  body {
    grid-template-columns: max(300px, 15%) auto max(300px, 15%);
  }
}

@media screen and (width <= 1350px) {
  body {
    grid-template-rows: max(200px, 20%) auto max(100px, 10%);
  }
}

#pouch-root {
  position: fixed;
}

*:focus {
  outline-color: var(--primary-theme);
}
